@import url(fonts/gilroy/stylesheet.css);
@import url(fonts/sofiaPro/stylesheet.css);

$orange1: #FF800B;
$orange2: #FDB827;
$color1: #FFF9F2;
$color2: #233506;

@mixin fontText {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    font-family: 'Sofia Pro';
}

@media (max-width: 1570px) {
    .fruits{
        max-width: 500px;
        max-height: 519px;
    } 
}

body, h1, h2, h3, h4, p, a, ul, li {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

.wrap {
    width: 0;
    margin: 0 auto;
    min-width: 1100px;
}

.first-screen {
    height: 110vh;
    background: linear-gradient(to right, $color1 67%, $orange2 33%);
}

.header {
    font-family: 'Gilroy';
    display: flex;
    align-items: center;
    height: 140px;
    color: $color2;
    width: 61%;
}

.header__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.orange {
    color: $orange1;
}

.orange2 {
    color: $orange2;
}

.header__nav, .nav-items, .nav-buttons {
    display: flex;
}

.header__nav {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
}

.nav-button {
    background-color: #FFFFFF;
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $orange1;
}

.nav-item,
.nav-button {
    padding: 0 20px;
    width: max-content;
}

.icons {
    padding: 0 14px;
}

.h1 {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 84px;
    line-height: 120%;
    width: 591px;
}

.first-screen__text {
    margin-top: 160px;
    color: $color2;
}

.h1-text {
    @include fontText();
    width: 500px;
    color: $color2;
    padding: 40px 0;

}

.order-now {
    height: 66px;
    background-color: $orange2;
    border-radius: 40px;
    color: #FFFFFF;
    width: 170px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-left: 40px;
}

.arrow {
    padding-left: 20px;
    font-family: 'Sofia Pro';
}

.first-screen__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fruits {
    width: 700px;
}

.second-screen {
    height: 100vh;
}

.h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 87px;
    color: #233506;
    margin-top: 130px;
    margin-bottom: 85px;
}

.shop-grid {
    display: grid;
    grid-template: repeat(2, 315px) / repeat(4, 270px);
    column-gap: 30px;
    row-gap: 43px;
    width: 0;
}

.card-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-top: 29px;
}

.cost {
    float: right;
}

.card-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.card-flex {
    display: flex;
    height: 58px;
    align-items: flex-end;
}

.card-button {
    background-color: #FDB827;
    height: 40px;
    width: 106px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.third-screen {
    width: 100%;
    background-image: url(img/image1.png);
    height: 798px;
    background-repeat: no-repeat;
    background-color: #FFF9F2;
    display: flex;
    align-items: center;
}

.third-screen__grid {
    display: grid;
    grid-template: repeat(2, max-content) / repeat(2, max-content);
    grid-gap: 20px;
}

.grid-item1 {
    align-self: end;
}

.third-screen__content {
    display: flex;
    align-items: center;
    width: 0;
}

.third-screen__h2 {
    width: 500px;
    margin-bottom: 20px;
}

.third-screen__text {
    width: 500px;
    height: 830px;
    margin-left: 100px;
}

.third-screen__p {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: grey;
}

.dignity__item {
    height: 62px;
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.dignity__item__text {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    padding-left: 30px;
}

.h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
}

.fourth-screen {
    height: 957px;
}

.fourth-screen__text {
    width: 500px;
    height: 320px;
    margin-right: 100px;
}

.fourth-screen__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 957px;
}

.fourth-screen__h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 87px;
    color: #233506;
    margin-bottom: 50px;
}

.read-more {
    height: 66px;
    background-color: #FDB827;
    border-radius: 40px;
    color: #FFFFFF;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 50px;
}

.customer-rewiew {
    height: 798px;
    background-color: #FFF9F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customer-rewiew__container {
    width: 826px;
    height: 368px;
    background-color: #FFFFFF;
    border-radius: 64px;
    display: flex;
}

.customer-rewiew__h2 {
    margin-top: 0;
}

.rewiew-div {
    margin: 70px auto;
    width: 600px;
    text-align: center;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
}

.rewiew-div_active {
    animation-name: smoothtext;
    animation-duration: 100ms;
}

@keyframes smoothtext {    
    from {
        color: #FFFFFF;
    }
    to {
        color: #000000;
    }
}

.rewiew-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDB827;
    width: 61px;
    height: 61px;
    border-radius: 100px;
    margin-right: -30px;
}

.reverse-button {
    margin-left: -30px;
}

.footer {
    height: 539px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.footer__block {
    height: 198px;
    border-bottom: grey 1px solid;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    padding-bottom: 50px;
}

.footer__h4 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
    color: #243165;
    padding-bottom: 20px;
}

.footer__p {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: gray;
}

.footer__element1 {
    width: 289px;
}

.footer__ul{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: gray;
    padding: 0;
}

.footer__li {
    list-style: none;
    padding: 5px 0;

}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }