@import url(fonts/gilroy/stylesheet.css);

body, h1, h2, h3, h4, p, a, ul, li {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

.first-screen {
    height: 100vh;
    width: 100%;
    background-color: #FFF9F2;
    background: linear-gradient(to right, #FFF9F2 67%, #FDB827 33%);
}

.header {
    font-family: 'Gilroy';
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    height: 140px;
    width: 100%;
    color: rgb(35, 53, 6);
}

.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    margin-left: 20%;
}

.orange {
    color: #FF800B;
}

.orange2 {
    color: #FDB827;
}

.nav {
    width: 100%;
    justify-content: center;
}

.nav, .nav-items, .nav-buttons {
    display: flex;
    align-items: center;
}

.nav-items {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.nav-buttons {
    margin-left: 20%;
    
}

.nav-button {
    background-color: #FFFFFF;
    height: 50px;
    margin-right: 19px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FF800B;
}

.nav-item,
.nav-button {
    padding: 0 25px;
    width: max-content;
}

.icons {
    padding: 0 14px;
}

.h1 {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 84px;
    line-height: 120%;
    width: 591px;
}

.first-screen-text {
    margin: 160px 20%;
    color: #233506;
}

.h1-text {
    width: 500px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: rgb(35, 53, 6);
    padding: 40px 0;
}

.order-now {
    height: 66px;
    background-color: #FDB827;
    border-radius: 40px;
    color: #FFFFFF;
    width: 170px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-left: 40px;
}

.arrow {
    padding-left: 20px;
}