@import url(fonts/gilroy/stylesheet.css);
@import url(fonts/sofiaPro/stylesheet.css);

body, h1, h2, h3, h4, p, a, ul, li {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

.wrap {
    width: 61%;
    margin: 0 auto;
    min-width: 1100px;
}

.first-screen {
    height: 100vh;
    background: linear-gradient(to right, #FFF9F2 67%, #FDB827 33%);
}

.header {
    font-family: 'Gilroy';
    display: flex;
    align-items: center;
    height: 140px;
    color: rgb(35, 53, 6);
}

.header__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.orange {
    color: #FF800B;
}

.orange2 {
    color: #FDB827;
}

.nav, .nav-items, .nav-buttons {
    display: flex;
}

.nav {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
}

.nav-button {
    background-color: #FFFFFF;
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FF800B;
}

.nav-item,
.nav-button {
    padding: 0 20px;
    width: max-content;
}

.icons {
    padding: 0 14px;
}

.h1 {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 84px;
    line-height: 120%;
    width: 591px;
}

.first-screen__text {
    margin-top: 160px;
    color: #233506;
}

.h1-text {
    width: 500px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: rgb(35, 53, 6);
    padding: 40px 0;
    font-family: 'Sofia Pro';
}

.order-now {
    height: 66px;
    background-color: #FDB827;
    border-radius: 40px;
    color: #FFFFFF;
    width: 170px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-left: 40px;
}

.arrow {
    padding-left: 20px;
    font-family: 'Sofia Pro';
}

.first-screen__content {
    display: flex;
    justify-content: space-between;
}

.fruits {
    width: 750px;
}

.second-screen {
    height: 100vh;
}

.h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 87px;
    color: #233506;
    margin-top: 130px;
    margin-bottom: 85px;
    width: 0;
}

.shop-grid {
    display: grid;
    grid-template: repeat(2, 315px) / repeat(4, 270px);
    column-gap: 30px;
    row-gap: 43px;
    width: 0;
}

.card-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-top: 29px;
}

.cost {
    float: right;
}

.card-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.card-flex {
    display: flex;
    height: 58px;
    align-items: flex-end;
}

.card-button {
    background-color: #FDB827;
    height: 40px;
    width: 106px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.third-screen {
    width: 100%;
    background-image: url(img/image1.png);
    height: 798px;
    background-repeat: no-repeat;
    background-color: #FFF9F2;
    display: flex;
    align-items: center;
}

.third-screen__grid {
    display: grid;
    grid-template: repeat(2, max-content) / repeat(2, max-content);
    grid-gap: 20px;
}

.grid-item1 {
    align-self: end;
}

.third-screen__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third-screen__h2 {
    width: 500px;
    margin-bottom: 20px;
}

.third-screen__text {
    width: 500px;
}

.third-screen__p {
    font-family: 'Sofia Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170%;
color: grey;
}